*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jaro", sans-serif;
    font-weight: 300;
}
body{
    background-color: black;
}
li, a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
/* ==========|HEADER OF THE WEBSITE|========== */
header{
    background-color: #101820;
    border-radius: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    color: white;
    font-size: 20px;
    transition: all 0.4s ease 0s;
}
.nav-links li a:hover{
    font-size: 22px;
    color: lightgrey;
}
.profile{
    color: white;
    font-size: 35px;
    transition: all 0.3s ease 0s;
}
.profile:hover{
    font-size: 38px;
    color: lightgrey;
}
.logo{
   height: 50px;
   width: 50px;
}
.logo_name{
    font-family: "Jaro", sans-serif;
    font-size: 50px;
    color: white;
}
span{
    color: #b90e0a;
}
/* ==========|SECTION OF THE WEBSITE|========== */
.content_container{
    padding: 5px 120px;
}
.content_container h1{
    color: white;
    font-size: 60px;
}
.content_container p{
    color: #999;
    font-size: 18px;
}
.content_container img{
    border-radius: 20px;
    height: 500px;
    width: 100%;
}
.content_container .info{
    font-size: 30px;
    color: white;
}
/* ==========|FOOTER OF THE WEBSITE|========== */
footer{
    background: #101820;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
.footer-title{
    color: white;
    font-family: "Jaro", sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;       
}
.footer-content p{
    color: white;
    font-family: "Jaro", sans-serif;
    width: 190px;
    margin: auto;
    padding: 7px;
    font-size: 20px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style: none;
    padding: 7px;
    position: relative;
}
.list li a{
    font-size: 20px;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightgrey;
}
.facebook i:hover{
    color: #1877F2;
}
.youtube i:hover{
    color: #FF0000;
}
.instagram i:hover{
    color: #962fbf;
}
.twitter i:hover{
    color: #1DA1F2;
}
.bottom-bar{
    background: #2B4448;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: white;
    font-family: "Jaro", sans-serif;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}